/* Import Fonts */
@font-face {
    font-family: Product-Regular;
    src: url(assets/fonts/Product-Sans-Regular.ttf);
}
@font-face {
    font-family: Product-Italic;
    src: url(assets/fonts/Product-Sans-Italic.ttf);
}
@font-face {
    font-family: Product-Bold;
    src: url(assets/fonts/Product-Sans-Bold.ttf);
}
@font-face {
    font-family: Product-Bold-Italic;
    src: url(assets/fonts/Product-Sans-Bold-Italic.ttf);
}

/* base default */
body {
    margin: 0;
    background-color: #010101;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.show {
    display: block !important;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-image {
    display: block;
    margin-left: auto;
}

.left-image {
    display: block;
    margin-right: auto;
}

.bar-overlay {
    padding: 4.59375rem 0;
}

/* header */
.header-container {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    position: absolute;
}

/* resize the container */
.main-header-container {
    background: transparent;
    padding: 3rem 10rem;
}

.sticky {
    position: fixed;
    background-color: white;
    padding: .5rem 10rem;
    top: -70px;
    left: 0;
    right: 0;
	transform: translateY(70px);
    -webkit-transition: transform 500ms ease, background 500ms ease;
}

.container-center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    -webkit-box-align: center;
    color: white;
}

.logo {
    position: relative;
    padding-left: 7rem;
}

.menu {
    position: relative;
    text-align: center;
    font-family: Product-Bold;
    font-size: 1rem;
    margin-left: auto;
    transition: .4s;
}

.menu li {
    display: inline-block;
    color: inherit;
    padding: 0 1rem;
}

.menu ul li a:hover {
    transition: .5s;
    color: red;
}

.dropdown-btn {
    display: none;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    padding: .97rem 0;
}

.bar-color {
    background-color: white;
}

.bar1 {
    width: 1rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.bar2 {
    width: 1.5rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.bar3 {
    width: 2rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.dropdown-btn:hover .bar1 {
    width: 1.5rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.dropdown-btn:hover .bar2 {
    width: 1rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.dropdown-btn:hover .bar3 {
    width: .5rem;
    height: .15rem;
    margin: .2rem 0;
    transition: .4s;
    border-radius: .1rem;
}

.dropdown-menu {
    display: none;
    right: 8.73rem;
    top: 5rem;
    position: absolute;
    /* background-color: red; */
    min-width: 160px;
    z-index: 1;

}

.dropdown-menu a {
    float: none;
    color: white;
    display: block;
    text-align: right;
    margin: 1rem 1.2rem;
    font-family: Product-Bold;
    font-size: 1rem;
}

.dropdown-menu a:hover {
    color: red;
}

/* anything about post */
.post-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5rem;
}

.post-img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.post-img img {
    max-width: 585px;
}

.post-desc {
    font-family: Product-Regular;
    color: white;
    text-align: justify;
    padding: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.h1-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
}

.flag-img {
    padding-top: 1rem;
    width: 65px;
    /* height: 65px; */
    /* box-shadow: 0 .5rem 10rem .2rem white; */
}

.reverse-post {
    flex-direction: row-reverse;
}

.post-title {
    font-size: 2rem;
    margin-block-end: 0;
}

.post-country {
    font-size: .8rem;
    margin: 0;
    font-family: Product-Italic;
}

.post-par {
    font-size: 1rem;
}

.post-footer {
    font-family: Product-Bold;
    font-size: .8rem;
    /* color: red; */
}

@media (max-width: 1100px) {
    .post-container {
        flex-wrap: wrap;
    }

    .post-desc {
        padding: 1rem 5rem 5rem 5rem
    }
}

@media (max-width: 845px) {
    .menu {
		display: none;
	}

	.dropdown-btn {
		display: block;
    }
}